In [4]:
#Import Libraries
import pandas as pd
import numpy as np
import scipy.stats as stats

In [5]:
#Create DataFrame
df=pd.DataFrame(
    {"Transactions Amount": [100, 150, 50, 100, 130, 120, 100, 85, 70, 150,
                            150, 120, 50, 100, 100, 140, 90, 150, 50, 90,
                            120, 100, 110, 75, 65]})
df

    Transactions Amount
0                   100
1                   150
2                    50
3                   100
4                   130
5                   120
6                   100
7                    85
8                    70
9                   150
10                  150
11                  120
12                   50
13                  100
14                  100
15                  140
16                   90
17                  150
18                   50
19                   90
20                  120
21                  100
22                  110
23                   75
24                   65

In [6]:
#Central Tendency
import statistics
print("mean: ", statistics.mean(df["Transactions Amount"]))
print("median: ", statistics.median(df["Transactions Amount"]))

mean:  102.6
median:  100

In [7]:
#Analisis
#Mean dan median memiliki nilai yang hampir mirip, hal ini menunjukkan data kemungkinan berdistribusi simetris atau normal yang menunjukkan
#hasil penjualan stabil di sekitar $100. Namun untuk memastikan hal ini perlu dicek variansinya.

In [8]:
#Variability
print("variansi: ", np.var(df["Transactions Amount"]))
print("srandar deviasi: ", np.std(df["Transactions Amount"]))
print("max: ", np.max(df["Transactions Amount"]))
print("min: ", np.min(df["Transactions Amount"]))
print("range: ", np.max(df["Transactions Amount"]) - np.min(df["Transactions Amount"]))
print("quantile 0.25: ", np.quantile(df["Transactions Amount"], 0.25))
print("quantile 0.5: ", np.quantile(df["Transactions Amount"], 0.5))
print("quantile 0.75: ", np.quantile(df["Transactions Amount"], 0.75))

variansi:  972.2399999999997
srandar deviasi:  31.180763300471007
max:  150
min:  50
range:  100
quantile 0.25:  85.0
quantile 0.5:  100.0
quantile 0.75:  120.0

In [9]:
#Analisis
#Rentang data sebesar 100 menunjukkan variasi besar antara penjualan tertinggi dan terendah. Hal ini didukung dari nilai standar deviasi (31,18)
#yang menunjukkan adanya variasi data yang cukup besar di sekitar rata-rata

In [10]:
#Define H0 and H1
#H0: Penjualan rata-rata = $100 per transaksi setelah dilakukan training kepada pekerja sales
#H1: Penjualan rata-rata > $100 per transaksi setelah dilakukan training kepada pekerja sales

In [11]:
#Define alpha = 0.05

In [24]:
#Calculate t statistics and P-value
#Perform one sample t-test
statistic, pvalue = stats.ttest_1samp(a=df['Transactions Amount'], popmean=100)
print('t-statistic: ', statistic)
print('P-value: ', pvalue)

t-statistic:  0.4085001556802841
P-value:  0.6865284813438117

In [ ]:
#statistic=0.40850016 , pvalue=0.68652848

In [ ]:
#Conclude with alpha and p-value
#Nilai pvalue (0.68652848) lebih besar dari nilai alpha (0.05), hal ini berarti tidak cukup bukti untuk menolak H0
#Kesimpulan: Hal ini menunjukkan training kepada pekerja sales kurang efektif karena rata rata penjualan masih sebesar $100 sama seperti sebelumnya

In [ ]:
#Conclude with t statistics and critical region
#Find the critical region

In [20]:
#H1: larger (right side)
print ('critical value: ', stats.t.ppf(1-0.05, 24))

critical value:  1.7108820799094275

In [ ]:
#Critical region t > 1.71
#t-statistic (0.41) lebih kecil dibanding nilai kritis (1.71), hal ini mendukung kesimpulan sebelumnya untuk tidak menolak H0
#Kesimpulan: Hal ini menunjukkan training kepada pekerja sales kurang efektif karena rata rata penjualan masih sebesar $100 sama seperti sebelumnya